# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=bar_tasca_db
MYSQL_USER=bar_tasca_user
MYSQL_PASSWORD=cambia-esto
MYSQL_ROOT_PASSWORD=cambia-esto-root

# Twilio (dummy en dev)
TWILIO_SID=
TWILIO_TOKEN=
TWILIO_FROM=+15005550006
