# --- Base de datos MySQL ---
MYSQL_HOST=changeme
MYSQL_PORT=changeme
MYSQL_DB=changeme
MYSQL_USER=changeme
MYSQL_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=changeme

# --- Twilio ---
TWILIO_SID=changeme
TWILIO_TOKEN=changeme
TWILIO_FROM=changeme

# --- ASP.NET Core ---
ASPNETCORE_ENVIRONMENT=changeme
DOTNET_USE_POLLING_FILE_WATCHER=changeme

# --- JWT ---
JWT_SECRET=changeme
JWT_ISSUER=changeme
JWT_AUDIENCE=changeme

# --- QR ---
Qr__Secret=changeme
Qr__RotationMinutes=changeme

# --- Web Push (VAPID) ---
WEBPUSH_VAPID_PUBLIC_KEY=changeme
WEBPUSH_VAPID_PRIVATE_KEY=changeme
WEBPUSH_SUBJECT=changeme
PUBLIC_APP_BASE_URL=changeme

#  --- CORS ---
CORS_ALLOWED_ORIGINS=changeme

# --- Seed Admin ---
ADMIN_EMAIL=changeme
ADMIN_PASSWORD=changeme